{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title_block %}Password Change{% endblock %}

{% block body_block %}
<div class="container mt-5">
    {% if changed %}
    <div class="alert alert-success text-center" role="alert">
        Your password has been successfully changed!
    </div>
    {% endif %}
    <div class="p-4 border rounded shadow-sm">
        <h2 class="text-center mb-4">Change Password</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-block">Change Password</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
