{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title_block %}
    {{ blog.blog_title }}
{% endblock %}

{% block body_block %}
<div class="container mt-5">
    <div class="row">
        <!-- Left side (Blog details) -->
        <div class="col-sm-12 col-md-8">
            <div class="blog-header">
                <h2>{{ blog.blog_title }}</h2>
                <h4>Posted By: @{{ blog.author }}</h4>
                <h6>Published on: {{ blog.publish_date }}</h6>
                <h6>Updated on: {{ blog.updated_at }}</h6>
                <h6>{{ blog.liked_blog.count }} Likes | {{ blog.blog_comment.count }} Comments</h6>
                <h6>👀 Views: {{ blog.view_count }}</h6>
            </div>
            <div class="blog-image mt-3">
                <img src="/media/{{ blog.blog_image }}" class="img-fluid" alt="{{ blog.blog_title }}">
            </div>
            <div class="blog-content mt-4">
                <p>{{ blog.blog_content|linebreaks }}</p>
            </div>
            <hr>
            <div class="like-button">
                {% if not liked %}
                    <a href="{% url 'App_Blog:liked_post' blog.pk %}" class="btn btn-success">
                        <i class="fa-solid fa-thumbs-up"></i> Like
                    </a>
                {% else %}
                    <a href="{% url 'App_Blog:unliked_post' blog.pk %}" class="btn btn-danger">
                        <i class="fa-solid fa-thumbs-down"></i> Unlike
                    </a>
                {% endif %}
            </div>
        </div>

        <!-- Right side (Comments Section) -->
        <div class="col-sm-12 col-md-4">
            <div class="comments-section">
                <h3>Comments</h3>
                {% for comment in blog.blog_comment.all %}
                    <div class="comment-item mb-3">
                        <p><strong>@{{ comment.user }}</strong>:</p>
                        <p>{{ comment.comment }}</p>
                        <small>{{ comment.comment_date }}</small>
                    </div>
                {% endfor %}
            </div>
            <hr>
            <div class="comment-form">
                <h4>Leave a Comment</h4>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ comment_form|crispy }}
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
